.button{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    padding: 0 32px;
    background: #835afd;
    color: #ffff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: filter 0.2s;
    border: 0;

    &.outlined{
        background: #ffff;
        color: #835afd;
        border: 1px solid #7146f0;
    }
  
    &:not(:disabled):hover{
   
        filter: brightness(0.9) ;
        
                 
    }
    &:disabled{
        opacity: 0.8;
        cursor: no-drop;
    }
    img{
        margin-right: 8px;
    }
}